.idea/
cmake-build-*/
*.iws
*.iml
*.ipr
.qtcreator/
*.exe
*.o
*.obj
*.dll
*.so
*.a
*.lib


ui_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp

# --- OS Specific ---
Thumbs.db
.DS_Store

# --- User specific project files ---
CMakeSettings.json